@use './mixins' as *;

%include-bg{
	@include background();
}

%bs-transition-color{
	@include bs-transition(color);
}

%bs-transition-transform{
	@include bs-transition(transform);
}

%bs-transition-border-color{
	@include bs-transition(border-color);
}

%bs-transition-bg-color{
	@include bs-transition(background-color);
}

%bs-transition-fz{
	@include bs-transition(font-size);
}

// Transition 
%bs-transition-3{
	@include bs-transition();
}

%bs-transition-5{
	@include bs-transition(opacity, 0.5s, ease-in-out, 0.2s);
}

// Font
%bs-ff-fontawesome{
	font-family: var(--bs-ff-fontawesome);
}

// Transform
%translateY1_2{
	@include transform(translateY(-50%));
}
%translateX1_2{
	@include transform(translateX(-50%));
}
%translate1_2{
	@include transform(translate(-50%, -50%));
}

// Bg thumbnails
%bg-thumb{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}