@use '../../utils' as *;

/*----------------------------------------*/
/*  Footer Style
/*----------------------------------------*/

.bs-footer{
    &-one{
        &.has-white{
            .bs-footer-list{
                li{
                    color: #BBBBBB;
                    a{
                        &:hover{
                            color: var(--bs-hover-quaternary);
                        }
                    }
                }
            }
            .bs-footer-copyright{
                p{
                    color: #BBBBBB;
                    a{
                        color: var(--bs-white);
                        &:hover{
                            color: var(--bs-hover-quaternary);
                        }
                    }
                }
            }
        }
        border-top: 1px solid var(--bs-border-primary);
        padding: 60px 0 50px;
        @media #{$xs}{
            padding: 50px 0 40px;
        }
        .bs-footer-widget-logo{
            margin-bottom: 30px;
            .logo-white{
                display: none;
            }
            img{
                max-width: 110px;
            }
        }
        .bs-footer-list{
            display: flex;
            gap: 20px 50px;
            justify-content: center;
            @media #{$sm}{
                gap: 20px 30px;
            }
            @media #{$xs}{
                flex-wrap: wrap;
                gap: 15px 25px;
            }
            li{
                list-style: none;
                a{
                    font-size: 20px;
                    font-weight: 500;
                    @media #{$xs}{
                        font-size: 18px;
                    }
                    &:hover{
                        color: var(--bs-theme-primary);
                    }
                }
            }
            &.has-theme-tertiary{
                    li{
                        a{
                            color: var(--bs-white);
                            &:hover{
                                color: var(--bs-hover-tertiary);
                            }
                        }
                    }
            }
        }
        .bs-footer-list-wrapper{
            margin-bottom: 25px;
            @media #{$xs}{
                margin-bottom: 15px;
            }
        }
        &.has-theme-green{
            .bs-footer-list{
                li{
                    a{
                        &:hover{
                            color: var(--bs-theme-green);
                        }
                    }
                }
            }
        }
        &.has-theme-orange{
            .bs-footer-list{
                li{
                    a{
                        &:hover{
                            color: var(--bs-theme-orange);
                        }
                    }
                }
            }
        }
        &.has-theme-yellow{
            .bs-footer-list{
                li{
                    a{
                        &:hover{
                            color: var(--bs-theme-yellow);
                        }
                    }
                }
            }
        }
    }
    &-two{
        padding:90px 0 90px;
        @media #{$sm}{
            padding:70px 0 70px;
        }
        @media #{$xs}{
            padding:50px 0 50px;
        }
        .bs-footer-widget-logo{
            margin-bottom: 30px;
            img{
                max-width: 110px;
            }
        }
        .bs-footer-copyright{
            a{
                &:hover{
                    color: var(--bs-theme-primary);
                }
            }
        }
        .bs-footer-copyright{
            P{
                line-height: 30px;
            }
        }
        .bs-footer-widget-links{
            ul{
                li{
                    list-style: none;
                    &:not(:last-child){
                        margin-bottom: 20px;
                    }
                    a{
                        &:hover{
                            color: var(--bs-theme-primary);
                        }
                    }
                }
            }
        }
        .bs-footer-contact-item{
            a{
                &:hover{
                    color: var(--bs-theme-primary);
                }
            }
            &:not(:last-child){
                margin-bottom: 20px;
            }
        }
        .footer-2{
            &-col-2{
                margin-inline-start: 80px;
                @media #{$xl,$lg}{
                    margin-inline-start: 0px;
                }
                @media #{$md}{
                    margin-inline-start: 50px;
                }
                @media #{$sm,$xs}{
                    margin-inline-start: 0px;
                }
            }
            &-col-3{
                margin-inline-start: 70px;
                @media #{$xl,$lg}{
                    margin-inline-start: 0px;
                }
                @media #{$md}{
                    margin-inline-start: 50px;
                }
                @media #{$sm,$xs}{
                    margin-inline-start: 0px;
                }
            }
            &-col-4{
                margin-inline-start: 60px;
                @media #{$xl,$lg,$md,$sm,$xs}{
                    margin-inline-start: 0px;
                }
            }
            &-col-5{
                margin-inline-start: 30px;
                @media #{$xl,$lg,$md,$sm,$xs}{
                    margin-inline-start: 0px;
                }
                .bs-theme-social{
                    @media #{$lg}{
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }
}