@use '../../utils' as *;
/*----------------------------------------*/
/*  3.1.5 Banner Style 8
/*----------------------------------------*/


.bs-banner{
    &-eight{
        padding-top: 140px;
        .bs-banner-content-wrapper{
           @media #{$lg}{
            padding-top: 30px;
           }
        }
        .bs-banner-bg{
            &.bg-black{
             display: none;
            }
         }
        .bs-banner-bg{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .bs-banner-subtitle{
            font-size: 18px;
            color: var(--bs-theme-primary);
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 3px;
            display: inline-block;
        }
        .bs-banner-title{
            font-size: 72px;
            line-height: 1.3;
            margin-bottom: 20px;
            @media #{$xl}{
                font-size: 60px;
            }
            @media #{$lg}{
                font-size: 50px;
            }
            @media #{$md}{
                font-size: 40px;
            }
            @media #{$sm}{
                font-size: 35px;
            }
            @media #{$xs}{
                font-size: 30px;
            }
        }
        .bs-mark-text{
            display: inline-flex;
            font-size: 90px;
            gap: 10px;
            @media #{$xl}{
                font-size: 60px;
            }
            @media #{$lg}{
                font-size: 50px;
            }
            @media #{$md}{
                font-size: 60px;
                display: block;
            }
            @media #{$sm}{
                font-size: 50px;
                display: block;
            }
            @media #{$xs}{
                font-size: 40px;
                display: block;
            }
            @media #{$xxs}{
                font-size: 30px;
                display: block;
            }
        }
        .bs-title-slide{
            background-color: unset;
            border-radius: unset;
            color: var(--bs-theme-primary);
            padding: 0;
            font-size: 90px;
            @media #{$xl}{
                font-size: 60px;
            }
            @media #{$lg}{
                font-size: 50px;
            }
            @media #{$md}{
                font-size: 60px;
            }
            @media #{$sm}{
                font-size: 50px;
            }
            @media #{$xs}{
                font-size: 40px;
            }
            @media #{$xxs}{
                font-size: 30px;
            }
            b{
                line-height: 1.2;
            }
        }
        .bs-banner-description{
            p{
                font-size: 22px;
                line-height: 1.6;
                @media #{$sm}{
                    font-size: 20px;
                }
                @media #{$xs}{
                    font-size: 18px;
                }
            }
        }
        .bs-banner-info-btn{
            display: flex;
            align-items: center;
            gap: 30px;
            margin: 40px 0 50px 0;
            flex-wrap: wrap;
            @media #{$lg,$md}{
                margin: 40px 0 40px 0;
            }
            @media #{$sm,$xs}{
                margin: 30px 0 30px 0;
            }
        }
        .bs-client-meta{
            display: flex;
            align-items: center;
            gap: 25px;
            @media #{$lg}{
                br{
                    display: none;
                }
            }
            @media #{$xs}{
                flex-wrap: wrap;
            }
        }
        .bs-client-meta-text{
            p{
                font-weight: 600;
                color: var(--bs-black);
            }
        }
        .bs-banner-thumb{
            width: 580px;
            margin-inline-start: -45px;
            @media #{$xl,$lg,$md,$sm,$xs}{
                margin-inline-start: 0;
            }
            @media #{$lg,$md,$sm,$xs}{
                width: 100%;
            }
            img{
                width: 100%;
            }
        }
    }
}