@use "../../utils" as *;

/*----------------------------------------*/
/*  3.2.5 Sidebar css
/*----------------------------------------*/

.bs-sidebar-sticky {
    position: sticky;
    top: 100px;
}

.sidebar{
    &-widget{
        position: relative;
        padding: 30px 30px 30px 30px;
        background: var(--bs-white);
        border-radius: 4px;
        @media #{$lg,$xxs}{
            padding: 20px 20px 20px 20px;
        }
        &::before{
            content: "";
            width: 4px;
            height: 15px;
            position: absolute;
            inset-inline-start: 30px;
            top: 0;
            background: var(--bs-theme-primary);
        }
    }
    &-search-input{
        position: relative;
        input{
            padding-inline-end: 50px;
            background: var(--bs-bg-primary);
        }
        button{
            position: absolute;
            top: 50%;
            inset-inline-end: 25px;
            color: var(--bs-black);
            font-size: 16px;
            transform: translateY(-50%);
            &:hover{
                color: var(--bs-theme-primary);
            }
        }
    }
    &-widget-title{
        margin-bottom: 20px;
    }
    &-widget-content{
        ul{
            li{
                list-style: none;
                &:not(:last-child){
                    margin-bottom: 10px;
                }
                a{
                    border: 1px solid rgba(62,62,62,.1);
                    padding: 12px 20px;
                    border-radius: 4px;
                    font-size: 16px;
                    cursor: pointer;
                    transition: all .3s ease 0s;
                    display: block;
                    position: relative;
                    font-weight: 500;
                    background: var(--bs-bg-primary);
                    &::before{
                        position: absolute;
                        content: "";
                        inset-inline-end: 20px;
                        font-size: 18px;
                        top: 50%;
                        transform: translateY(-50%);
                        border-left: 6px solid #606060;
                        border-bottom: 6px solid transparent;
                        border-top: 6px solid transparent;
                        @include rtl {
                            border-right: 6px solid #606060;
                            border-left: unset;
                        }
                    }
                    &::after{
                        position: absolute;
                        content: "";
                        height: 2px;
                        width: 7px;
                        inset-inline-end: 26px;
                        top: 50%;
                        transform: translateY(-50%);
                        background: #606060;
                    }
                    &:hover{
                        background: var(--bs-theme-primary);
                        border-color: var(--bs-theme-primary);
                        color: var(--bs-white);
                        &::before{
                            border-left-color: var(--bs-white);
                            @include rtl {
                                border-right-color: var(--bs-white);
                            }
                        }
                        &::after{
                            background: var(--bs-white);
                        }
                    }
                }
            }
        }
    }
    &-blog-item{
        display: flex;
        align-items: center;
        gap: 20px;
        @media #{$xxs}{
            display: grid;
            grid-template-columns: auto;
        }
        &:not(:last-child){
            margin-bottom: 25px;
        }
        &:hover{
            .sidebar-blog-thumb{
                img{
                    transform: scale3d(1.07, 1.07, 1.07);
                }
            }
        }
    }
    &-blog-thumb{
        overflow: hidden;
        flex: 0 0 auto;
        width: 85px;
        border-radius: 4px;
        @media #{$xxs}{
            width: 100%;
        }
        img{
            width: 100%;
            transition: all 1.1s cubic-bezier(0, 0, 0.2, 1);
        }
    }
    &-blog-title{
        @media #{$lg}{
            font-size: 18px;
        }
        a{
            &:hover{
                color: var(--bs-theme-primary);
            }
        }
    }
    &-blog-meta{
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        i{
            color: var(--bs-theme-primary);
        }
    }
}