@use '../../utils' as *;

/*----------------------------------------*/
/*  Award css
/*----------------------------------------*/

.bs-award{
    &-one{
        .bs-award-wrapper{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 30px;
            padding: 50px 40px 40px;
            @media #{$lg}{
                grid-template-columns: repeat(2,1fr);
            }
            @media #{$md,$sm}{
                grid-template-columns: repeat(2,1fr);
            }
            @media #{$xs}{
                grid-template-columns: repeat(1,1fr);
                padding: 30px 30px 30px;
            }
        }
        .bs-award-item{
            background: var(--bs-white);
            padding: 30px 30px;
            border-radius: 4px;
            border: 1px solid transparent;
            transition: .3s;
            @media #{$xl,$md,$sm}{
                padding: 20px 20px;
            }
            &:hover{
                border-color: var(--bs-theme-quaternary);
            }
        }
        .bs-award-top{
            display: flex;
            justify-content: space-between;
        }
        .bs-award-thumb{
            img{
                width: 80px;
            }
        }
        .bs-award-date{
            color: var(--bs-black);
            font-weight: 600;
        }
        .bs-award-title{
            text-transform: uppercase;
            font-weight: 600;
            color: var(--bs-text-primary);
            margin: 12px 0 3px;
            @media #{$sm,$xs}{
                font-size: 16px;
            }
        }
        .bs-award-name{
            text-transform: uppercase;
            font-weight: 600;
            margin: 75px 0 0;
            font-size: 18px;
            @media #{$sm,$xs}{
                font-size: 16px;
            }
        }
    }
}