@use '../../utils' as *;

/*----------------------------------------*/
/*  gallery css
/*----------------------------------------*/


.bs-gallery{
    &-one{
        .bs-gallery-item{
            position: relative;
            &:hover{
                .bs-gallery-content-wrap{
                    bottom: 30px;
                    opacity: 1;
                    visibility: visible;
                }
                .bs-gallery-thumb{
                    &::before{
                        visibility: visible;
                        opacity: 1;
                    }
                }
                .bs-gallery-btn{
                    transform: translate(-50%, -50%) scale(1);
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        .bs-gallery-thumb{
            position: relative;
            &::before{
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(253, 175, 64, .8);
                transition: all 0.4s ease-out;
                border-radius: 4px;
                opacity: 0;
                visibility: hidden;
            }
            img{
                width: 100%;
                border-radius: 4px;
            }
        }
        .bs-gallery-btn{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.3);
            visibility: hidden;
            opacity: 0;
            transition: all 0.4s ease-out;
        }
    }
}