@use '../../utils' as *;

/*----------------------------------------*/
/*  Testimonial css
/*----------------------------------------*/


// new style added
.bs-testimonial{
    &-one{
        overflow-x:clip ;
        position: relative;
        z-index: 2;
        .bs-testimonial-bg{
            position: absolute;
            width: 1400px;
            height: 100%;
            top: -20px;
            left: 250px;
            z-index: -1;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .bs-testimonial-item{
            position: relative;
            z-index: 2;
            background: var(--bs-white);
            padding: 30px 30px 30px 30px;
            border: 1px solid transparent;
            transition: all .3s ease;
            border-radius: 4px;
            @media #{$md,$xxs}{
                padding: 20px 20px 20px 20px;
            }
            &:hover{
                border-color: var(--bs-theme-primary);
            }
        }
        .bs-testimonial-top{
            display: flex;
            align-items: center;
            gap: 20px;
            @media #{$xxs}{
                gap: 15px;
            }
        }
        .bs-rating{
            span{
                i{
                    color: var(--bs-rating-color);
                }
            }
        }
        .bs-testimonial-description{
            margin: 25px 0 25px 0;
            p{
                line-height: 32px;
            }
        }
        .bs-testimonial-bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .bs-testimonial-avater-title{
            margin-bottom: 3px;
        }
        .bs-testimonial-icon{
            img{
                width: 45px;
            }
        }
    }
    &-two{
        .bs-testimonial-item{
            position: relative;
            z-index: 2;
            background: var(--bs-bg-secondary);
            padding: 30px 30px 30px 30px;
            border: 1px solid transparent;
            transition: all .3s ease;
            border-radius: 4px;
            &:hover{
                border-color: var(--bs-theme-primary);
            }
        }
        .bs-testimonial-top{
            display: flex;
            align-items: center;
            gap: 20px;
        }
        .bs-rating{
            span{
                i{
                    color: var(--bs-rating-color);
                }
            }
        }
        .bs-testimonial-description{
            margin: 25px 0 25px 0;
            p{
                line-height: 32px;
            }
        }
        .bs-testimonial-bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .bs-testimonial-avater-title{
            margin-bottom: 3px;
        }
        .bs-testimonial-icon{
            img{
                width: 45px;
            }
        }
    }
    &-three{
        .bs-testimonial-user{
            img{
                width: 95px;
                animation: bs-scale 1s alternate infinite;
                -webkit-animation: bs-scale 1s alternate infinite;
                animation-duration: 3s;
                @media #{$xl,$lg}{
                    width: 60px;
                }
                @media #{$md,$sm,$xs}{
                    display: none;
                }
            }
        }
        .user{
            &-1{
                position: absolute;
                border-radius: 50%;
                left: 230px;
                top: 90px;
                z-index: 1;
                @media #{$xl}{
                    left: 150px;
                }
                @media #{$lg}{
                    left: 100px;
                }
            }
            &-2{
                position: absolute;
                border-radius: 50%;
                top: 310px;
                left: 20px;
                z-index: 1;
            }
            &-3{
                position: absolute;
                border-radius: 50%;
                bottom: 110px;
                left: 305px;
                z-index: 1;
                @media #{$xl}{
                    left: 200px;
                }
                @media #{$lg}{
                    left: 100px;
                    bottom: 60px;
                }
            }
            &-4{
                position: absolute;
                border-radius: 50%;
                right: 470px;
                top: 80px;
                z-index: 1;
                @media #{$xl}{
                    right: 200px;
                    top: 50px;
                }
                @media #{$lg}{
                    right: 70px;
                    top: 40px;
                }
            }
            &-5{
                position: absolute;
                border-radius: 50%;
                right: 40px;
                top: 165px;
                z-index: 1;
                @media #{$lg}{
                    top: 230px;
                }
            }
            &-6{
                position: absolute;
                border-radius: 50%;
                right: 285px;
                bottom: 150px;
                z-index: 1;
                @media #{$xl}{
                    right: 140px;

                }
                @media #{$lg}{
                    right: 100px;

                }
            }
        }
        .shape{
            &-1{
                position: absolute;
                opacity: 0.4;
                filter: brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
                top: 80px;
                left: 0;
                z-index: 0;
            }
            &-2{
                position: absolute;
                opacity: 0.4;
                filter: brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
                right: 120px;
                bottom: 0;
                z-index: 0;
            }
        }
        .bs-testimonial-icon{
            margin-bottom: 25px;
            text-align: center;
            img{
                height: 55px;
            }
        }
        .bs-testimonial-description{
            text-align: center;
            margin-bottom: 30px;
            p{
                font-size: 24px;
                line-height: 40px;
                @media #{$md}{
                    font-size: 22px;
                }
                @media #{$sm,$xs}{
                    font-size: 20px;
                }
            }
        }
       .bs-testimonial-avater-thumb{
        img{
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }
       }
       .bs-testimonial-avater{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    }
    &-four{
        .bs-testimonial-item{
            position: relative;
            z-index: 2;
            background: var(--bs-bg-secondary);
            padding: 30px 30px 30px 30px;
            border: 1px solid transparent;
            transition: all .3s ease;
            border-radius: 4px;
            @media #{$xxs}{
                padding: 20px 20px 20px 20px;
            }
            &:hover{
                border-color: var(--bs-theme-primary);
                .bs-testimonial-icon{
                    svg{
                        g{
                            opacity: 1;
                            transition: .5s;
                        }
                    }
                }
            }
        }
        .bs-testimonial-top{
            display: flex;
            align-items: start;
            gap: 20px;
            justify-content: space-between;
        }
        .bs-testimonial-title{
            margin-bottom: 3px;
        }
        .bs-rating{
            span{
                i{
                    color: var(--bs-rating-color);
                }
            }
        }
        .bs-testimonial-description{
            margin: 25px 0 25px 0;
            p{
                line-height: 32px;
            }
        }
        .bs-testimonial-bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .bs-testimonial-avater-title{
            margin-bottom: 3px;
        }
        .bs-testimonial-icon{
            svg{
                width: 45px;
                path{
                    fill:var(--bs-theme-primary) ;
                }
            }
        }
    }
    &-five{
        overflow-x:clip ;
        .bs-testimonial-bg{
            position: absolute;
            width: 1400px;
            height: 100%;
            top: -20px;
            left: 250px;
            z-index: -1;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .has-theme-quaternary{
            .bs-testimonial-item{
                background: var(--bs-white);
                &:hover{
                    border-color: var(--bs-hover-quaternary);
                }
            }
        }
        .bs-testimonial-item{
            position: relative;
            z-index: 2;
            background: var(--bs-bg-secondary);
            padding: 30px 30px 30px 30px;
            border: 1px solid transparent;
            transition: all .3s ease;
            border-radius: 4px;
            @media #{$xxs}{
                padding: 20px 20px 20px 20px;
            }
            &:hover{
                border-color: var(--bs-theme-primary);
            }
            &.has-theme-green{
                &:hover{
                    border-color: var(--bs-theme-green);
                }
            }
            &.has-theme-orange{
                background: var(--bs-bg-light);
                &:hover{
                    border-color: var(--bs-theme-orange);
                }
            }
            &.has-theme-yellow{
                background: var(--bs-bg-light-grey);
                &:hover{
                    border-color: var(--bs-theme-yellow);
                }
            }
        }
        .bs-testimonial-top{
            display: flex;
            align-items: center;
            gap: 20px;
            @media #{$md}{
                gap: 15px;
            }
        }
        .bs-rating{
            span{
                i{
                    color: var(--bs-rating-color);
                }
            }
        }
        .bs-testimonial-description{
            margin: 25px 0 25px 0;
            p{
                line-height: 32px;
            }
        }
        .bs-testimonial-bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .bs-testimonial-avater-title{
            margin-bottom: 3px;
        }
        .bs-testimonial-icon{
            img{
                width: 45px;
            }
        }
    }
    &-six{
        .bs-testimonial-item{
            position: relative;
            z-index: 2;
            background: var(--bs-white);
            padding: 40px 40px 40px 40px;
            border: 1px solid var(--bs-border-secondary);
            transition: all 0.3s ease;
            border-radius: 4px;
            @media #{$lg,$xs}{
                padding: 30px 30px 30px 30px;
            }
            @media #{$md,$xxs}{
                padding: 20px 20px 20px 20px;
            }
            &:hover{
                border-color: var(--bs-theme-secondary);
            }
        }
        .bs-testimonial-top{
            display: flex;
            align-items: center;
            gap: 20px;
            @media #{$xxs}{
                gap: 15px;
            }
        }
        .bs-rating{
            span{
                i{
                    color: var(--bs-rating-color);
                }
            }
        }
        .bs-testimonial-description{
            margin: 20px 0 40px 0;
            p{
                line-height: 40px;
                font-size: 22px;
                color: var(--bs-text-secondary);
                @media #{$lg,$xs}{
                    font-size: 20px;
                }
            }
        }
        .bs-testimonial-bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .bs-testimonial-avater-thumb{
            img{
                width: 80px;
                height: 80px;
                border-radius: 4px;
            }
        }
        .bs-testimonial-avater-info{
            display: flex;
            align-items: center;
            gap: 20px;
        }
        .bs-testimonial-avater-title{
            margin-bottom: 3px;
        }
        .bs-testimonial-icon{
            img{
                width: 45px;
            }
        }
        
    }
}
